<html>
	<head>
		<title>世界是旋转的</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!-- <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Arvo:700" rel="stylesheet" type="text/css" /> -->
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/blog.css" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	</head>
  <body class="left-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">
					<div class="container">

						<!-- Logo -->
							<h1 id="logo"><a href="main.html">虽说世界是旋转的</a></h1>
							<p>两岸猿声啼不住，轻舟已过万重山</p>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li><a class="icon fa-home" href="index.html"><span>主页</span></a></li>
									<li>
										<a href="#" class="icon fa-bar-chart-o"><span>文字</span></a>
										<ul>
											<li><a href="#">回忆录</a></li>
											<li><a href="#">小说</a></li>
											<li>
												<a href="#">记录</a>
												<ul>
													<li><a href="#">周记</a></li>
													<li><a href="#">日记</a></li>
													<li><a href="#">月刊</a></li>
												</ul>
											</li>
											<li><a href="#">胡言乱语</a></li>
										</ul>
									</li>
									<li><a class="icon fa-cog" href="left-sidebar.html"><span>设置</span></a></li>
									<li><a class="icon fa-retweet" href="right-sidebar.html"><span>任务</span></a></li>
									<li><a class="icon fa-sitemap" href="no-sidebar.html"><span>相册</span></a></li>
                  <li><a class="icon fa-sitemap" href="no-sidebar.html"><span>相册</span></a></li>
                </ul>
							</nav>

					</div>
				</section>

        <section id="features">
					<div class="container">
            <header>
							<h2>写啊嘛写文章写到<strong> 地老天荒 </strong>!</h2>
						</header>
            <br>

            <div class="col-12 col-12-medium">
              <section>
                <form method="post" id="update-blog">
									<div style="text-align:center;" v-if="autoSaveTime">
										<label style="padding:10px; margin-bottom:10px; color:rgba(0,0,0,.4);"> 文章自动保存于 <i> {{autoSaveTime}} </i></label>
									</div>
                  <div class="row gtr-50">
                    <!-- <span class="edit-span title">文章标题</span> -->
                    <div class="col-5 col-12-small">
                      <div class="row row-edit">
                        <span class="edit-span title col-2">文章标题</span>
                        <input name="title" placeholder="" type="text" class="std-input title col-10" v-model="title" required/>
                      </div>
                    </div>
                    <div class="col-5 col-12-small">
                      <div class="row row-edit">
                        <span class="edit-span title col-2">副标题</span>
                        <input name="subtitle" placeholder="" type="text" class="std-input title col-10" v-model="subtitle" required/>
                      </div>
                    </div>
                    <div class="col-2 col-12-small">
                      <a class="icon fa-save auto-save" v-on:click="autoSave">自动保存 </a>
                    </div>
                    <div class="col-12">
                      <textarea name="content" placeholder="" v-model="content"  class="std-input edit-content"></textarea>
                    </div>
                    <div class="col-12">
                      <div class="row row-edit">
                        <span class="edit-span cate col-1">分类</span>
                        <select name="category" class="edit-select" value="0" v-model="type">
                          <option :value="articletype.id" v-for="articletype in types">{{articletype.text}}</option>
                          <option value="-1">新建分类</option>
                        </select>
												<div class="col-3 edit-new-type" v-if="type==-1">
													<input type="text" v-model="newType"/>
												</div>
                      </div>
                    </div>
										<div class="col-12">
                      <div class="row row-edit">
                        <span class="edit-span cate col-1">读取草稿</span>
                        <select name="category" class="edit-select" value="0" v-model="type">
                          <option :value="articletype.id" v-for="articletype in types">{{articletype.text}}</option>
                          <option value="-1">新建分类</option>
                        </select>
												<div class="col-3 edit-new-type" v-if="type==-1">
													<input type="text" v-model="newType"/>
												</div>
                      </div>
                    </div>
                    <div class="col-12">
                      <a href="#" onlcick="return -1;" v-on:click="saveArticle" class="form-button-submit button icon fa-envelope" v-if="status=='new'">保存并发表文章</a>
                      <a href="#" onlcick="return -1;" v-on:click="saveArticle" class="form-button-submit button icon fa-envelope" v-else>修改文章</a>
                    </div>
                  </div>
                </form>
              </section>
            </div>
          </div>
        </section>
        <!-- Scripts -->
      </div>
      <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/jquery.dropotron.min.js"></script>
      <script src="assets/js/browser.min.js"></script>
      <script src="assets/js/breakpoints.min.js"></script>
      <script src="assets/js/util.js"></script>
      <script src="assets/js/main.js"></script>
      <script src="js/common.js"></script>
			<script src="js/edit.js"></script>
  </body>
