<html>
	<head>
		<title>世界是旋转的</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!-- <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Arvo:700" rel="stylesheet" type="text/css" /> -->
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/daily.css" />
    <link rel="stylesheet" href="css/style.css" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	</head>
  <body class="no-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">
					<div class="container">

						<!-- Logo -->
							<h1 id="logo"><a href="main.html">虽说世界是旋转的</a></h1>
							<p>两岸猿声啼不住，轻舟已过万重山</p>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li><a class="icon fa-home" href="main.html"><span>主页</span></a></li>
									<li>
										<a href="blog.html" class="icon fa-bar-chart-o" ><span>文字</span></a>
										<ul>
											<li><a href="#">回忆录</a></li>
											<li><a href="#">小说</a></li>
											<li>
												<a href="#">记录</a>
												<ul>
													<li><a href="#">周记</a></li>
													<li><a href="#">日记</a></li>
													<li><a href="#">月刊</a></li>
												</ul>
											</li>
											<li><a href="#">胡言乱语</a></li>
										</ul>
									</li>
									<li><a class="icon fa-cog" href="daily.html"><span>日常</span></a></li>
									<li><a class="icon fa-retweet" href="right-sidebar.html"><span>任务</span></a></li>
									<li><a class="icon fa-sitemap" href="no-sidebar.html"><span>相册</span></a></li>
                  <li><a class="icon fa-sitemap" href="no-sidebar.html"><span>相册</span></a></li>
                </ul>
							</nav>

					</div>
				</section>
        <section class="features main-part">
          <header>
            <h2 class="main-title">画个圈圈，然后 <strong>跳进去</strong> 如此画地为牢 </h2>
          </header>
          <div class="row main-line">
            <div class="4unit">
              <section>
                <a href="http://regularjane.deviantart.com/art/Old-Reads-363428235" class="image image-full"><img src="../images/pic01.jpg" alt=""></a>
              </section>
              <header>
											<h3>Okay, so what is this?</h3>
										</header>
              <p>This is <strong>Strongly Typed</strong>, a free, fully responsive site template
  						by <a href="#/">HTML5 UP</a>. Free for personal and commercial use under the
  						<a href="#/license/">CCA 3.0 license</a>.</p>
            </div>
          </div>
        </section>
  </div>
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/jquery.dropotron.min.js"></script>
      <script src="assets/js/browser.min.js"></script>
      <script src="assets/js/breakpoints.min.js"></script>
      <script src="assets/js/util.js"></script>
      <script src="assets/js/main.js"></script>
      <script src="js/common.js"></script>
      <script src="js/daily.js"></script>
  </body>
