<html>
	<head>
		<title>世界是旋转的</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!-- <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Arvo:700" rel="stylesheet" type="text/css" /> -->
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/daily.css" />
		<link rel="icon" href="images/weblogo.png">
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	</head>
  <body class="no-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header" style="border-bottom:none;box-shadow:none;">
					<div class="container">

						<!-- Logo -->
							<h1 id="logo"><a href="main.html">虽说世界是旋转的</a></h1>
							<p>两岸猿声啼不住，轻舟已过万重山</p>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li><a class="icon fa-home" href="main.html"><span>主页</span></a></li>
									<li>
										<a href="blog.html" class="icon fa-bar-chart-o" ><span>文字</span></a>
										<ul>
											<li><a href="#">回忆录</a></li>
											<li><a href="#">小说</a></li>
											<li>
												<a href="#">记录</a>
												<ul>
													<li><a href="#">周记</a></li>
													<li><a href="#">日记</a></li>
													<li><a href="#">月刊</a></li>
												</ul>
											</li>
											<li><a href="triffle.html">胡言乱语</a></li>
										</ul>
									</li>
									<li><a class="icon fa-cog" href="daily.html"><span>日常</span></a></li>
									<li><a class="icon fa-retweet" href="right-sidebar.html"><span>任务</span></a></li>
									<li><a class="icon fa-sitemap" href="no-sidebar.html"><span>相册</span></a></li>
                  <li><a class="icon fa-sitemap" href="no-sidebar.html"><span>相册</span></a></li>
                </ul>
							</nav>

					</div>
				</section>
        <section class="features main-part" id="daily">
          <header>
            <h2 class="main-title">画个圈圈，然后 <strong>跳进去</strong> 如此画地为牢 </h2>
          </header>
					<h3 v-if="!healthy.length">加载中 </h3>
          <div class="row main-line">
            <div class="4unit">
              <section class="unit-section">
              	<header>
								<a class="icon"><img src="images/health_icon.png" alt="健康管理" width="60" height="60"></a>
								<h3>健康管理</h3>
								</header>
							</section>
							<div class="slideshow-container">
							  <div class="mySlides fade" v-for="health in healthy" v-show="health.clicked">
									<h3>{{health.date}}</h3>
									<p> <a>起床时间：</a>&nbsp;<span>{{health.wake}}</span> &nbsp;&nbsp;&nbsp; &nbsp;<a>睡觉时间：</a>&nbsp; <span>{{health.sleep}}</p>
									<p> <a>睡眠时长：</a>&nbsp;<span>{{health.duration}}</p>
									<p> <a>睡眠深度:</a>&nbsp;&nbsp;&nbsp;
										<svg :width="health.deep" height="10">
												<rect :width="health.deep"  height="10" style="fill:#CD5555;" />
										</svg>
										<svg :width="100-health.deep" height="10">
											<rect :width="100-health.deep" height="10" style="fill:#009ACD;" />
										</svg>
									</p>
									<p> <a>行走距离 </a>&nbsp;<span>{{health.distance}}km &nbsp;&nbsp;&nbsp; <a>行走步数：</a>&nbsp;<span>{{health.step}}</p>
									<p> </p>
									<h3 style="padding-top:10px">综合评分： {{health.score}}</h3>
							  </div>
							  <!-- Next and previous buttons -->
							  <a class="prev" v-on:click="plusSlides(-1)">&#10094;</a>
							  <a class="next" v-on:click="plusSlides(1)">&#10095;</a>
							</div>
							<!-- <br> -->

							<!-- The dots/circles -->
							<div style="text-align:center">
							  <span class="dot" v-on:click="currentSlide(0)"></span>
							  <span class="dot" v-on:click="currentSlide(1)"></span>
							  <span class="dot" v-on:click="currentSlide(2)"></span>
							</div>

            </div>
						<div class="4unit">
              <section class="unit-section">
              	<header>
								<a class="icon"><img src="images/word_icon.png" alt="健康管理" width="60" height="60"></a>
								<h3 >背背单词</h3>
								</header>
							</section>
							<section class="word-part">
								<canvas id="pie" style="float:left;width:250px;"></canvas>
								<div class="word-test">
									<p> <a>今日任务 </a> <span> 300 </span></p>
									<p> <a>昨日准确率 </a> <span> 60% </span></p>
									<p> <a>目前进度 </a> <span> 20% </span></p>
								</div>
							</section>
							<div class="progress" style="width:60%;margin:0 auto;">
								<div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<div style="margin-top:2em;">
								<a class="word-enter"> 开始任务 </a>
							</div>
            </div>
						<div class="4unit">
              <section class="unit-section">
              	<header>
								<a class="icon"><img src="images/weather_icon.png" alt="任务管理" width="60" height="60"></a>
								<h3 >任务管理</h3>
								</header>
							</section>
            </div>
          </div>
        </section>
				<section class="features sub-part" id="work">
				<div class="container">
					<div class="row">
						<div class="col-3 col-12-medium">
							<div class="btns-pattern">
								<div class="item-btn" v-on:click="workMenu(0)">
									<h3 style="color:white; padding-top:10px; padding-left:20px;"> 今日健康</h3>
								 </div>
								 <div class="item-btn" v-on:click="workMenu(1)">
 									<h3 style="color:white; padding-top:10px; padding-left:20px;"> 日历汇总</h3>
 								 </div>
								 <div class="item-btn" v-on:click="workMenu(2)">
 									<h3 style="color:white; padding-top:10px; padding-left:20px;"> 今日健康</h3>
 								 </div>
							</div>
						</div>
						<div class="col-9 col-12-medium">
							<form class="healthy-input-part" action="#" v-show="slideItem == 0">
								<div class="row">
									<div class="col-3 col-6-medium">
										<label for="wake" style="margin-left:20%;margin-bottom:10px;"> 起床时间 </label>
										<input type="time" class="time-input" v-model="newrecord.wake" name="wake" required />
									</div>
									<div class="col-3 col-6-medium">
										<label for="sleep" style="margin-left:20%;margin-bottom:10px;"> 睡觉时间 </label>
										<input type="time" class="time-input" v-model="newrecord.sleep" required />
									</div>
									<div class="col-3 col-6-medium">
										<label for="duration" style="margin-left:20%;margin-bottom:10px;"> 睡眠时长 </label>
										<input type="time" class="time-input"  v-model="newrecord.duration" required />
									</div>
									<div class="col-3 col-6-medium">
										<label for="depth" style="margin-left:20%;margin-bottom:10px;"> 深度睡眠 </label>
										<input type="number" class="time-input" v-model="newrecord.depth" min="0" max="100" required />
									</div>
								</div>
								<div class="row second-line">
									<div class="col-3 col-6-medium">
										<label for="steps" style="margin-left:20%;margin-bottom:10px;"> 步行距离 </label>
										<input type="number" class="time-input" v-model="newrecord.distance" step="0.01" required/>
									</div>
									<div class="col-3 col-6-medium">
										<label for="steps" style="margin-left:20%;margin-bottom:10px;"> 行走步数 </label>
										<input type="number" class="time-input" v-model="newrecord.step" required/>
									</div>
									<div class="col-3 col-6-medium">
										<label for="score" style="margin-left:20%;margin-bottom:10px;"> 机器打分 </label>
										<input type="number" class="time-input"  v-model="newrecord.score" required/>
									</div>
									<div class="col-3 col-6-medium">
										<label for="score" style="margin-left:20%;margin-bottom:10px;"> 补记日期 </label>
										<input type="date" class="time-input"  v-model="newrecord.date"/>
									</div>
								</div>
								<div class="row second-line" >
									<div class="col-3 col-6-medium">
										<div style="padding:10px;">
											<button class="health-submit" type="submit" v-on:click="newRecord(1)"> 补记之前 </button>
										</div>
									</div>
									<div class="col-3 col-6-medium">
										<div style="overflow:hidden; padding:10px;">
											<button class="health-submit" type="submit" v-on:click="newRecord(0)"> 提交今日 </button>
										</div>
									</div>
									<div class="col-6 col-12-medium">
										<div style="padding:2em; border: 2px dotted rgba(245,79,41,.8); border-radius:5px;">
											<h3> {{ friendlyMSG }}</h3>
										</div>
									</div>
								</div>
							</form>
							<div class="calender-part" v-show="slideItem == 1">
								<div class="row">
									<div class="col-7 col-12-medium">
										<div class="calendar-container">
											<section>
												<header style="padding:15px;">
													<div class="row">
														<div class="col-2">
															<a class="prev-month" v-on:click="showCalendar(-1)"><<</a>
														</div>
														<div class="col-8">
															<h3 class="calendar-title" >2018年{{currentMonth}}月</h3>
														</div>
														<div class="col-2">
															<a class="next-month" v-on:click="showCalendar(1)">>></a>
														</div>
													</div>
												</header>
												<div class="calendar-main" >
													<ul>
														<li v-for="c in calendar">
															<div class="unit-circle" >{{c+1}}</div>
														</li>
													</ul>
												</div>
											</section>
										</div>
									</div>
									<div class="col-5 col-12-medium">
										<div style="padding:2em">
											<div class="day-health-comment">
												<div class="row">
													<div class="col-4"><span>睡眠状态:&nbsp;&nbsp;&nbsp;</span></div>
													<div class="col-8">
														<div class="unit-rect-part"><div class="unit-rectangle" ></div><span class="sub-item"> 时长：8h</span></div>
														<div class="unit-rect-next"><div class="unit-rectangle"></div><span class="sub-item"> 深度：40%深睡眠</span></div>
													</div>
												</div>
												<div class="row">
													<div class="col-4"><span>运动情况:&nbsp;&nbsp;&nbsp;</span></div>
													<div class="col-8">
														<div class="unit-rect-part"><div class="unit-rectangle" ></div><span class="sub-item"> 步行：5km</span></div>
														<div class="unit-rect-next"><div class="unit-rectangle"></div><span class="sub-item"> 跑步：20分章</span></div>
													</div>
												</div>
												<div class="row">
													<div class="col-4"><span>任务清单:&nbsp;&nbsp;&nbsp;</span></div>
													<div class="col-8">
														<div class="unit-rect-part"><div class="unit-rectangle" ></div><span class="sub-item"> 增加个人主页健康管理模块 </span></div>
														<div class="unit-rect-next"><div class="unit-rectangle"></div><span class="sub-item"> 完成汇报ppt的80% </span></div>
													</div>
												</div>
												<div class="row">
													<div class="col-4"><span>特殊情况:&nbsp;&nbsp;&nbsp;</span></div>
													<div class="col-8">
														<div class="unit-rect-part"><div class="unit-rectangle" ></div><span class="sub-item"> 又又又又花粉症过敏了 </span></div>
														<div class="unit-rect-next"><div class="unit-rectangle"></div><span class="sub-item"> 玩橙光，撕心裂肺 </span></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

  </div>

      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/jquery.dropotron.min.js"></script>
      <script src="assets/js/browser.min.js"></script>
      <script src="assets/js/breakpoints.min.js"></script>
      <script src="assets/js/util.js"></script>
      <script src="assets/js/main.js"></script>
      <script src="js/common.js"></script>
      <script src="js/daily.js"></script>
  </body>
