<!doctype html>
<html lang="cn">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content>
    <meta name="author" content>
    <link rel="icon" href="../images/icon.png">
    <title>Riku HomePage</title>
    <!-- Bootstrap core CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <style type="text/css" abt="234"></style>
    <% if (userInfo.weiboToken) { %>
      <script>
        $('#modal-signin').show();
      </script>
    <% } %>
    <script>
      $(document).ready(function(){
          var id = $('#uinfo').html();
          if (id) {
            $('#logged').show();
            $('#hover-login').hide();
          }else {
            $('#logged').hide();
          }
          $('#logged').hover(function() {
            $('.app_icon').show();
          }, function() {
            $('.app_icon').hide();
          });
          var winWidth, winHeight;
          if (window.innerWidth) {
            winWidth = window.innerWidth;
            winHeight = window.innerHeight;
          }
          else if ((document.body) && (document.body.clientWidth)) {
            winWidth = document.body.clientWidth;
            winHeight = document.body.clientHeight;
          }
          $('#myCanvas').css('width', winWidth);
          $('#myCanvas').css('height', winHeight);
      });
    </script>
  </head>
  <body>
    <nav class="site-header sticky-top py-1">
      <h2 hidden id="uinfo"><%=userInfo._id%></h2>
      <div class="container d-flex flex-md-row justify-content-between">
        <a class="py-2" href='#'>
          <img src="images/icon.png" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor">
        </a>
        <a class="py-2 d-md-inline-block nav-a-color" href="/">Main</a>
        <a class="py-2 d-md-inline-block nav-a-color" href="#">Article</a>
        <li class="nav-item dropdown">
          <a class="py-2 d-md-inline-block nav-a-color dropdown-toggle" href="#" data-toggle="dropdown" id="expand-game">Game</a>
          <div class="dropdown-menu" aria-labelledby="expand-game" style="margin-left:-4rem!important;">
            <a class="dropdown-item" href="/game?title=flappyBall">Flappy Ball</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
        </li>
        <a class="py-2 d-md-inline-block nav-a-color" href="/machine?key=price">Machine</a>
        <a class="py-2 d-md-inline-block nav-a-color" href='https://api.weibo.com/oauth2/authorize?client_id=1606107874&response_type=code&redirect_uri=http://www.rikuki.cn/main.html' id="associate-weibo">Weibo</a>
        <!-- <a class="py-2" href='login.html'>
          <img src="images/login.png" width="30" height="30" viewBox="0 0 30 30" fill="none" stroke="currentColor">
        </a> -->
        <a class="py-2" data-toggle="modal" data-target="#loginModal" id="hover-login">
          <img src="images/login.png" width="30" height="30" viewBox="0 0 30 30" fill="none" stroke="currentColor">
        </a>
        <a class="py-2" id="logged" style="display:none">
          <img src="images/loged.jpg" width="30" height="30" viewBox="0 0 30 30" fill="none" stroke="currentColor" type="button" id="selfInfoButton" data-toggle="dropdown" aria-expanded="false">
          <div class="dropdown-menu dropdown-self"  aria-labelledby="selfInfoButton">
            <div class="row-2">
              <img src="images/logo3.jpg" class="self-icon" width="60" height="60" viewBox="0 0 60 60">
              <h class="self-name"><%=userInfo._username%></h>
              <% if (userInfo.isweibo) { %>
                <button type="button" class="btn btn-quit1 btn-sm" style="font-size:12px;" disabled>已关联微博</button>
              <% } else { %>
                <button type="button" class="btn btn-quit1 btn-sm" onclick="associateWeibo()">关联微博</button>
              <% } %>
              <!-- <button type="button" class="btn btn-quit1 btn-sm" onclick="associateWeibo()">关联微博</button> -->
              <button type="button" class="btn btn-quit btn-sm" style="font-size:12px; margin-left:6.5rem!important;">退出</button>
            </div>
            <!-- <div class="row-2">
              <div class="row"><button type="button" class="btn btn-quit1 btn-sm">退出</button></div>
              <div class="row"><button type="button" class="btn btn-quit btn-sm" onclick="associateWeibo()">关联微博</button></div>
            </div> -->
          </div>
        </a>
      </div>
    </nav>

    <div class="text-center">
      <p class="py-2"> This is a bitcoin price prediction tiny demo, here is instruction </p>
      <br>
      <p class="py-2"> 在新闻预测部分，可以调整的参数有 时间间隔，训练集／测试集 </p>
      <br>
      <p class="py-2"> 在历史价格预测部分，可以调整的参数有 时间间隔，使用历史价格数目 </p>
      <br>
    </div>
    <div class="parameter-area">
    </div>









    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-siginin" role="document">
        <% if (userInfo.weiboToken) { %>
          <div class="modal-content login-modal" style="height:60%;">
        <% } else { %>
          <div class="modal-content login-modal">
        <% } %>

          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">请登陆账号</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <input id="username" type="email" class="form-control modal-input" placeholder="用户名／邮箱" name="username">
            <input id="password" type="password" class="form-control modal-input my-2" placeholder="密码" name="password">
            <div class="checkbox">
              <label class="ml-4">
                <input type="checkbox" value="remember-me" id="rempwd"> 记住密码
              </label>
            </div>
            <hr>
            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">退出</button>
            <button type="button" class="btn btn-primary">登陆</button> -->
            <% if (userInfo.weiboToken) { %>
              <p> 已检测到关联微博 <em> <%= userInfo.weiboToken.name%></em> 请注册一个用户名or邮箱</p>
              <button class="btn btn-signup btn-block" onclick=""> 注册 </button>
            <% } else { %>
              <button class="btn btn-login btn-block" onclick="checkLogin()"> 登陆 </button>
              <p> 还没有账号? </p>
              <button class="btn btn-signup btn-block" onclick="signup()"> 注册 </button>
              <p> 或者使用微博登录 (由于微应用审核中，该功能日后开启)</p>
              <button class="btn btn-weibo btn-block" onclick="associateWeibo()" disabled> 关联微博 </button>
            <% } %>

            <!-- <button class="btn btn-login btn-block" onclick="checkLogin()"> 登陆 </button>
            <p> 还没有账号? </p>
            <button class="btn btn-signup btn-block" onclick="signup()"> 注册 </button>
            <p> 或者使用微博登录 </p>
            <button class="btn btn-weibo btn-block" onclick="associateWeibo()" > 关联微博 </button> -->
          </div>
          <!-- <div class="modal-footer">

          </div> -->
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="Application/javascript" src="javascripts/main.js"></script>
  </body>
</html>
