<!doctype html>
<html lang="cn">

<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content>
  <meta name="author" content>
  <link rel="icon" href="../images/icon.png">
  <title>Riku HomePage</title>
  <!-- Bootstrap core CSS-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/components.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-cookies.js"></script>
</head>

<body>
  <div ng-app="nav">
    <top-nav ng-controller="topNavCtrl"></top-nav>
    <div class="text-center banner-cart-intro container-fluid">
      <div class="row">
        <div id="ebay-icon" class="ebay-icon col">
          <div class="screen monitor">
            <div class="icon-cart" style="float: left">
              <div class="cart-line-1" style="background-color: #E5E9EA"></div>
              <div class="cart-line-2" style="background-color: #E5E9EA"></div>
              <div class="cart-line-3" style="background-color: #E5E9EA"></div>
              <div class="cart-wheel" style="background-color: #E5E9EA"></div>
            </div>
          </div>
          <div class="laptop">
            <div class="content">
              <div class="icon-cart laptop-icon-cart" style="float: left">
                <div class="cart-line-1" style="background-color: #E5E9EA"></div>
                <div class="cart-line-2" style="background-color: #E5E9EA"></div>
                <div class="cart-line-3" style="background-color: #E5E9EA"></div>
                <div class="cart-wheel" style="background-color: #E5E9EA"></div>
              </div>
              <ul class="txt txt-laptop">
              </ul>
            </div>
            <div class="btm"></div>
            <div class="shadow"></div>
          </div>
        </div>
        <div class="ebay-intro col">
          <h1 class="ebay-intro-h"> 购物模版</h1>
          <label class="ebay-intro-label"> 参考<em>amazon</em>制作购物页面，基于<em>angularJS</em>，后端<em>nodeJS</em></label>
          <div class="know-more">
            <div class="icon-cart col">
              <div class="cart-line-1" style="background-color: #E5E9EA"></div>
              <div class="cart-line-2" style="background-color: #E5E9EA"></div>
              <div class="cart-line-3" style="background-color: #E5E9EA"></div>
              <div class="cart-wheel" style="background-color: #E5E9EA"></div>
            </div>
            <a class="know-more-h col" style="display:inline-block" href="/shopping.html">了解详情</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>
  </div>

  <script src="javascripts/mainApp.js"></script>
  <script src="javascripts/mainCtrl.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script type="Application/javascript" src="javascripts/main.js"></script>
</body>

</html>
