.leftNav {
  float: left;
  position: relative;
  z-index: 2;
  width: 200px;
  margin-top: 1rem!important;
}
#left-nav-bar .container {
  border-right: 1px solid #DDD;
  border-radius: 4px 0;
  border-bottom: 1px solid #DDD;
  margin-left: -10px;
  padding: 0 6px 20px 10px;
  margin-bottom: 20px;
}

#left-nav-bar .large-title {
  font-weight: 400!important;
  font-style: normal!important;
  text-transform: none!important;
  text-decoration: none!important;
  font-size: 17px!important;
  margin-bottom: 14px!important;
  margin-top: 10px!important;
  color: #767676!important;
  margin-left: 2rem!important;
}

#left-nav-bar .show-result-ul {
  padding: 0;
  color: #111;
  margin: 0 0 0 18px;
}

#left-nav-bar .cell-result-li {
  margin-left: 1rem!important;
  word-wrap: break-word;
}

#left-nav-bar .cell-result-li-span {
  color: #111;
}

#left-nav-bar .cell-result-link {
  cursor: pointer;
  color: #111;
}

#left-nav-bar .cell-result-link:hover{
  text-decoration: none!important;
  cursor: pointer;
  color: #c45500!important;
}


#left-nav-bar .cell-result-small-span {
  font-size: 12px!important;
  line-height: 1.5!important;
  /* color: #111; */
}

#left-nav-bar .back-arrow {
  background-position: -154px -800px;
  width: 9px;
  height: 9px;
  display: inline-block;
  zoom: 1;
  margin-top: 2.5px;
  vertical-align: text-top;
}

.Sarrow {
  background-image: url("/images/arrow.png");
  background-repeat: no-repeat;
}

#left-nav-bar .spacing-base {
  margin: 14 10px 14px;
}

#left-nav-bar .medium-title {
  margin-left: 1rem!important;
  padding: 0;
  font-weight: 700!important;
  font-size: 12px!important;
  line-height: 1.5!important;
  margin-bottom: 6px!important;
  color: #111!important;
}

#left-nav-bar .check-list {
  margin-top:0;
}

#left-nav-bar .check-list-container {
  width: 100%;
}
#left-nav-bar .check-list-box {
  height: 13px;
  width: 13px;
  vertical-align: top;
  position: relative;
}

#left-nav-bar .check-list-label {
  font-size: 12px!important;
  font-weight: 400!important;
  cursor: pointer;
}

#left-nav-bar .check-list-label:hover {
  cursor: pointer;
  color: #c45500;
}
#left-nav-bar .check-list-li {
  list-style-type: none;
  /*list-style-image: url("/images/arrow.png");*/
}

#left-nav-bar .check-list-li .dropdown-menu{
  width: 100px;
  margin-left: 4rem;
  z-index: 1000;
  top:10rem!important;
}

#left-nav-bar .check-list-more {
  margin-left:-1rem!important;
  margin-top: 0.3rem!important;
  font-size: 10px!important;
  color: #0069d9;
}

#left-nav-bar .check-list-label-more {
  font-size: 12px!important;
  font-weight: 400!important;
  cursor: pointer;
  margin-left:0.2rem!important;
  margin-top: -0.7rem!important;
  color: #0069d9;
}
#left-nav-bar .check-list-label-more:hover {
  color: #c45500;
  text-decoration: underline;
}

#left-nav-bar .price-list {
  list-style-type: none;
  margin-left: -1rem!important;
}

#left-nav-bar .price-range-a {
  font-size: 12px!important;
  cursor: pointer;
}
#left-nav-bar .price-range-a:hover {
  font-size: 12px!important;
  cursor: pointer;
  margin-left: 0rem!important;
  color: #0069d9;
}

#left-nav-bar .price-list-input-span {
  position: relative;
  margin-top: 1.5rem!important;
  font-size: 100%;
  padding-top: 10px;
  margin-bottom: 2!important;
  margin-left: 0.4rem!important;
  width: 6px;
  height: 10px;
  color: red!important;
}

#left-nav-bar .price-list-input {
  padding-left: 18px;
  width: 50px;
  background-color: #fff;
  height: 31px;
  line-height: normal;
  margin-top: -1.5rem!important;
  margin-left: -1.2rem!important;
  display: inline-block;
  font-size: 8px;
}

#left-nav-bar .price-input-list {
  list-style-type: none;
  margin-left: -2rem!important;
  margin-top: 0.5rem!important;
}

#left-nav-bar .price-span-right {
  margin-left: 0.2rem!important;
}

#left-nav-bar .btn-price-list-enter {
  color: #111;
  background-color: #FFF;
  border-color: #0069d9;
}

.top-nav-bar {
  position: relative;
  top: 0;
  z-index: 198;
  font-family: arial, sans-serif;
  line-height: 1em;
  display: block;
  width: auto;
  zoom:1;
  border-bottom: 0.5px solid rgba(105,105,105,.85);
  background-color:rgb(250,250,250);
  height: 100px;
  overflow: hidden;
}
#navbar .nav-top-left {
  position: relative;
  float: left;
  height: 100%;
  width: 192px;
  margin-bottom: 1rem!important;
}

#navbar .nav-left-logo {
  clear: both;
  display: inline-block;
  cursor: pointer;
  margin-left: 2rem!important;
  margin-top: 1rem!important;
}

#navbar .top-middle-search {
  margin-left: 15rem;
  margin-top: 1.5rem;
  position: absolute;
  float: left;
  width: 50%;
  overflow: hidden;
}
#navbar .btn-nav-search {
  border-color: #111;
  color: #111;
  width: 120px;
  height: 40px;
  font-size: 15px;
}
#navbar form {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
#navbar form input[type=search] {
    padding-left: 16px;
    float: left;
    width: 100%;
    background: #FFF;
    vertical-align: middle;
    height: 100%;
    box-shadow: none;
    -webkit-appearance: none;
    border: 1px solid #ccc!important;
    outline: 0;
    color: #333;
    font-size: 14px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    overflow: hidden;
}
#navbar form input[type=submit] {
    background: url("/images/searchspan.png") 50% 50% no-repeat;
    background-size: 24px;
    position: absolute;
    right: 0px;
    top: 15px;
    margin-top: -7px;
    width: 79px;
    height: 24px;
    border: none;
    color: transparent;
    box-sizing: initial;
    cursor: pointer;
    outline: 0;
}

#navbar .input-group-align {
  width: 100%;
}

#navbar .top-right-nav {
  position: fixed;
  cursor: pointer;
  float: right;
  margin-top: 1rem!important;
  overflow: hidden;
}

#navbar .top-right-pro {
  cursor: pointer;
}

#navbar .top-right-cart {
  position: relative;
  cursor: pointer;
  margin-left: 1rem!important;
}

#navbar .nv-right-announce {
  cursor: pointer;
}

#navbar .qrcode-dropdown {
  margin-top: 1rem!important;
  margin-left: -3rem!important;
}

#navbar .qrcode-show {
  margin-left: 1rem!important;
}

#navbar .simple-label {
  font-size: 12px;
  text-align: center;
  margin-left: 0.5rem;
  color: red;
}

#navFooter {
  margin-bottom: 0;
  padding: 0;
  clear: both;
  position: relative;
}

/*width: 100%;
margin-bottom: 0;
padding-bottom: 0;
border-top: 1px solid #D1D7DC;
clear: both;
margin: 0;
text-align: center;
background: #fff;
position: relative;*/

#navFooter .footer-table {
  display: table;
  margin: 0 auto;
}
#navFooter .footer-content {
  display: table-row;
}

#navFooter .footer-link-col {
  display: table-cell;
  padding: 0 10px;
  line-height: 120%;
  vertical-align: top;
  color: #333;
}

#navFooter .footer-link-head {
  font-family: arial,sans-serif;
  color: #333;
  font-size: 16px;
  margin: 6px 0 14px 0;
  white-space: nowrap;
}

#navFooter .footer-link {
  font-size: 14px;
  color: #0069d9;
}

#navFooter .footer-link-li {
  list-style-type: none;
  line-height: 130%;
  margin: 0;
}

#navFooter .footer-link:hover {
  color:  #c45500!important;
  text-decoration: underline;
}

#navFooter .footer-link-ul {
  margin-left: 0.5rem!important;
  padding: 0;
}

#navFooter .footer-link-interval {
  display: table-cell;
  padding: 0 15px;
  width:  10%;
}

#navFooter .footer-copyright {
  font-size: 10px;
  color: rgb(211, 211, 211, .85);
  text-align: center;
  margin: 0 auto;
  display:block;
}


#rightNav {
  float: right;
  margin-left: -210px;
  width: 100%;
  height: 100%;
  z-index:1;
}

#rightNav .right-content {
  margin-left: 210px;
  width: auto;
  right: 23%;
  zoom: 1;
}

#rightNav .right-content-result-ul {
  margin: 0 0 0 4px;
  padding: 0;
  word-spacing: 4px;
  letter-spacing: -4px;
  line-height: 1.25;
}

#rightNav .content-result-li {
  width: 33.3%;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  word-spacing: normal;
  letter-spacing: normal;
  padding: 0;
  margin: 0;
  zoom: 1;

}

#rightNav .content-item {
  height: 350px;
  padding: 15px 15px 27px 27px!important;
  position: relative;
  display: block;
  overflow: hidden;
  zoom: 1;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

#rightNav .content-item-spacing {
  margin-top: 4px!important;
  margin-bottom: 4px!important;
  width: 100%;
}

#rightNav .content-item-border {
  margin: 0;
  width: 100%;
}

#rightNav .content-item-img {
  width: 200px;
  height: 200px;
}

#rightNav .content-item-a {
  width: 100%;
  height: 70%;
}

#rightNav .content-item-title {
  margin-bottom: 6px!important;
  width: 100%;
  margin-top: 2rem!important;
}
#rightNav .content-item-label {
  font-size: 400!important;
  font-style: normal!important;
  text-decoration: none!important;
  text-transform: none!important;
  color: #8B4B66;
}

#rightNav .content-item-label:hover {
  color: #c45500;
}

#rightNav .content-item-text {
  font-size: 15px!important;
  line-height: 1.25!important;
}

.ad-h1 {
  color: #FF6347;
}
.ad-p {
  color: #808080;
}
.thumb{
    width:100px;
    margin:5px;
    float:left;
}
