
body {
  background-color: #fff;
}
@media (max-width: 991.98px) {
  .nav-a-color {
    max-width: 100%;
    height: 2.5rem;
    margin-top: .25rem;
    overflow: hidden;
    font-size: .875rem;
    padding-bottom: 2rem;
    overflow-x: 2rem;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  .py-2 {
    margin-left: 1rem!important;
  }
}
@media (max-width: 500px) {
  .nav-a-color {
    max-width: 100%;
    height: 2.5rem;
    margin-top: .25rem;
    overflow: hidden;
    font-size: .5rem;
    padding-bottom: 2rem;
    overflow-x: 2rem;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  .pic-shrink {
    max-width: 100%;
    height: 2.5rem;
    overflow: hidden;
  }
}
@media (min-width: 768px) {
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .nav-a-color {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 1071;
    }
    .pic-shrink {
      max-width: 100%;
      height: 2.5rem;
      overflow: hidden;
    }
  }
}
.flex-md-row {
  flex-direction: row!important;
}
flex-column {
  flex-direction: column!important;
}
.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1020;
}
.d-flex {
  display: flex!important;
}
.flex-md-row {
  flex-direction: row!important;
}
.py-2 {
  margin-left: 2rem;
}
.nav-a-color:hover {
  border-bottom-style: solid;
  border-bottom-color: #8B8386;
  border-bottom-width: thick;
  text-decoration: none;
  color: rgb(0,0,0,.85);
}
.justify-content-between {
  justify-content: space-between!important;
}
.overflow {
  overflow: hidden;
}
.text-center {
  text-align: center!important;
}
.nav-item {
  list-style-type: none;
}
.position-relative {
  position: relative!important;
}
.p-3 {
  padding: 1rem!important;
}
.bg-light {
  background-color: #f8f9fa!important;
}
@media (min-width: 768px)
.p-md-5 {
  padding: 3rem!important;
}
@media (min-width: 768px)
.m-md-3 {
  margin: 1rem!important;
}
@media (min-width: 768px)
.d-md-inline-block {
  display: inline-block!important;

}
.nav-a-color {
  color: #8B8878;
}
@media (min-width: 992px)
.p-lg-5 {
  padding: 3rem!important;
}
.ml-auto, .mx-auto {
  margin-left: auto!important;
}
.mr-auto, .mx-auto {
  margin-right: auto!important;
}
.mb-5, .my-5 {
  margin-bottom: 3rem!important;
}
.mt-5, .my-5 {
  margin-top: 3rem!important;
}
.mt-1, .my-1 {
  margin-top: 2rem!important;
}
@media (min-width: 768px)
.col-md-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.btn-search {
  color: #6c757d;
  background-color: transparent;
  background-image: none;
  border-color: #6c757d;
}
.btn-search:hover {
  background: #6c757d;
  color: rgb(255, 255, 255);
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.mb-4, .my-4 {
  margin-bottom: 1.5rem!important;
}
.font-weight-normal {
  font-weight: 400!important;
}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}
.loginbody {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
div.sfbg, div.sfbgg {
  min-width: 1100px;
  height: 64px;
}
.sfbg {
  background: #fafafa;
  height: 69px;
  left: 0;
  position: absolute;
  width: 100%;
}
.sfbgg {
  background-color: #fafafa;
  height: 65px;
}
.tsf-p {
  padding-left: 150px;
  margin-right: 46px;
  max-width: 739px;
}
#logocont {
  z-index: 1;
  padding-left: 13px;
  padding-right: 10px;
  padding-top: 7px;
}
.logocont {
  left: 0;
  position: absolute;
}
.sfibbbc {
  padding-bottom: 2px;
  padding-top: 3px;
  margin-top: -3px;
  width: 632px;
}
.logobody {
  margin-left: 3px;
  margin-top: 2rem!important;
}
.searchbox {
  height: 40px;
}
.searchbox-2 {
  background: transparent;
  border: 0;
}
.mt-1 {
  margin-top: 1.5rem!important;
}
.z1asCe, .qa__svg-icon {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
}
.sbico {
  display: inline-block;
  height: 24px;
  width: 24px;
  cursor: pointer;
  vertical-align: middle;
  color: #4285f4;
}
.sbico-c {
  background: transparent;
  border: 0;
  float: right;
  height: 44px;
  line-height: 44px;
  margin-top: -1px;
  outline: 0;
  padding-right: 16px;
  position: relative;
  top: -1px;
}
.btn-signup {
  background-color: #fff;
  border-color: #3CB371;
  color: #3CB371;
}
.btn-signup:hover {
  background-color: #2E8B57;
  border-color: #2E8B57;
  color: #fff;
}
.d-block {
  display: block!important;
}
.woocommerce {
  width: 100%;
  padding: 0 15px;
}
.woocommerce-form-row {
  margin-top: 1.5rem;
  margin: 0 0 6px;
}
.woocommerce-form-row--wide {
  clear: both;
}
.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}
.woocommerce-input {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  outline: 0;
  line-height: 1;
  border-color: #d3ced2!important;
}
.register {
  border: 1px solid #d3ced2;
  padding: 20px;
  margin: 2em 0;
  text-align: left;
  border-radius: 5px;
}
/*input:-webkit-autofill {
  border: 1px solid #f8f9fa;
  -webkit-text-fill-color: green;
  -webkit-box-shadow: 0 0 0px 1000px #f8f9fa inset;
  transition: background-color 5000s ease-in-out 0s;
}*/
.btn-register {
  background-color: #8B4B66;
  border-color: #8B4B66;
  color: #fff;
}
.btn-login {
  background-color: #fff;
  border-color: #0069d9;
  color: #0069d9;
}
.btn-login:hover {
  background-color: #0069d9;
  border-color: #0069d9;
  color: #fff;
}
/*8B4B66*/
.form-row-first {
  width: 47%;
}
.reg-raido {
  margin-left: 0rem;
}
.rl-2 {
  margin-left: 2rem;
}
.required {
  color: #DC143C;
}
.link-search:hover {
  color: #000;
}
.notice-msg {
  color: #3CB371;
  font-size: 20px;
}
.alert-input {
  color: #DC143C;
}
img:hover {
    cursor: pointer;
}
.app_icon {
  width: 132px;
  position: relative;
  top: 60px;
  left: 0px;
  text-align: center;
  font-size: 12px;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1);
  background: #FFFFFF;
  border-radius: 6px;
  padding: 20px 0px 14px 0px;
}
img.arrow_up {
    position: absolute;
    top: -6px;
    left: 50%;
    margin-left: -6px;
    width: 30px !important;
    height: 30px !important;
}
img.self-icon {
  position: absolute;
  margin-left: 45px;
}
/*.dropdown-menu {
  top: 100%;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  color: #212529;
  text-align: left;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}*/
.dropdown-self {
  height: 170px;
  margin-left: -4rem!important;
}
h.self-name {
  position: absolute;
  color: #8B4B66;
  margin-top: 5rem;
  font-size: .8rem;
  text-align: center;
  margin-left: 1rem;
}
button.btn-quit {
  color: #8B4B66;
  position: absolute;
  margin-top: 7rem;
  border-color: #8B4B66;
  background-color: #ffff;
  margin-left: 6rem;
  /* display: inline-block; */
  vertical-align: middle;
  display: flex;
}
input.modal-input {
  width: 100%;
}
div.login-modal {
  height: 80%;
  width: 70%;
  margin-left: 3rem!important;
}
.ml-4 {
  margin-left: 6rem!important;
  margin-bottom: 0.1rem!important;
}
btn.btn-block2 {
  display: block;
  width: 60%;
}
button.btn-quit1 {
  color: #8B4B66;
  position: absolute;
  margin-top: 7rem;
  border-color: #8B4B66;
  background-color: #ffff;
  margin-left: 1rem;
  /* display: inline-block; */
  vertical-align: middle;
  display: flex;
}
canvas.canvas-brush {
  /* position: relative; */
  user-select: nonel;
  touch-action: none;
  -webkit-user-drag: none;
  -webkit-tap-hightlight-color: rgba(0,0,0,0);
  background: rgba(233,219,123,.7);
  margin-left: rem!important;
}
button.btn-weibo {
  color: #FD7400;
  border-color: #FD7400;
  background-color: #fff;
}
button.btn-weibo:hover {
  color: #fff;
  border-color: #FD7400;
  background-color: #FD7400;
}
.icon-items {
  margin-top: 2rem!important;
}
div.row-2 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
}
@media (min-width: 768px){
.bd-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
    z-index: 1000;
    height: calc(100vh - 4rem);
}
}
@media (min-width: 768px){
.bd-sidebar {
  border-right: 1px solid rgba(0,0,0,.1);
}
}
.bd-sidebar {
    -ms-flex-order: 0;
    order: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.parameter-area {
  float: left;
  height: 435px;
  width: 50%;
  margin-left: 5px;
  border-color: #FD7400;
}

.banner-cart-intro {
  position: relative!important;
  background-color: #f8f9fa;
  overflow: hidden;
  padding:3rem!important;
  margin-right: 1rem!important;

}
.ebay-icon {
  height: 50%;
  padding: 0;
  clear:both;
  position: relative;
  display: inline-block;
}
#ebay-icon .screen{
  width: 200px;
  height: 280px;
  position: relative;
  background: #ff6860;
  border: 20px solid #474e5d;
  border-radius: 10px;
  margin: 0;
}
#ebay-icon .monitor:before,
#ebay-icon .monitor:after {
  content: "";
  position: relative;
  left:50%;
}
#ebay-icon .monitor:before {
  top: -10px;
  margin: -3px 0 0 -3px;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background: #a5adbd;
}
#ebay-icon .screen:after {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  bottom: -10px;
  margin: 0 0 -4px -4px;
  background: #e8ebf0;
}

#ebay-icon .laptop:before {
  top: -10px;
  margin: -3px 0 0 -3px;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background: #a5adbd;
  content: "";
  position: absolute;
  left: 50%;
}
#ebay-icon .laptop {
  width: 235px;
  height: 155px;
  background: #fc9252;
  border: 12px solid #e8ebf0;
  border-radius: 10px 10px 0 0;
  position: absolute;
  margin-left: 14rem;
  margin-top: -10rem;
}

.txt-laptop {
   width: 189px;
}

.txt-laptop > li {
  background: #fda566;
}

.txt-laptop > li:nth-child(2) {
  height: 41px;
}

.txt-laptop > .thin {
  height: 36px;
  margin-right: 5px;
}

.laptop > .content {
  width: 211px;
  height: 131px;
  left: 0;
  margin-left: 0;
}

.btm {
  width: 296px;
  height: 7px;
  bottom: -19px;
  left: 50%;
  margin-left: -30px;
  border-radius: 0 0 20px 20px;
  background: #f4f5f7;
  z-index: 1;
}

.btm:before {
  content: "";
  position: absolute;
  width: 42px;
  height: 3px;
  left: 50%;
  top: 0;
  margin-left: 10px;
  border-radius: 0 0 5px 5px;
  background: #d8dbe1;
}
.shadow {
  position: absolute;
  width: 350px;
  height: 15px;
  left: 50%;
  margin-left: -175px;
  z-index: -1;
  bottom: -20px;
  background: radial-gradient(ellipse at center, rgba(52,172,108,1) 0%,rgba(52,172,108,1) 53%,rgba(46,204,113,1) 55%,rgba(46,204,113,0) 55%,rgba(46,204,113,0) 100%);
}

.laptop .shadow {
  width: 450px;
  margin-left: -225px;
  bottom: -26px;
}

.icon-cart {
  width: 120px;
  height: 120px;
  position: relative;
  overflow: hidden;
  margin: auto;
  margin-top: 3rem;
  margin-left: 1.3rem;
}

.icon-cart .cart-line-1 {
  width: 15%;
  height: 7%;
  position: absolute;
  left: 8%;
  top: 25%;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
  background-color: #000;
  border-bottom-left-radius: 35%;
}

.icon-cart .cart-line-2 {
  width: 35%;
  height: 7%;
  position: absolute;
  left: 6%;
  top: 40%;
  -webkit-transform: rotate(80deg);
  -moz-transform: rotate(80deg);
  -ms-transform: rotate(80deg);
  transform: rotate(80deg);
  background-color: #000;
}

.icon-cart .cart-line-2:before {
  content: "";
  width: 120%;
  height: 100%;
  position: absolute;
  left: 45%;
  top: -280%;
  -webkit-transform: rotate(-80deg);
  -moz-transform: rotate(-80deg);
  -ms-transform: rotate(-80deg);
  transform: rotate(-80deg);
  background-color: inherit;
}

.icon-cart .cart-line-2:after {
  content: "";
  width: 70%;
  height: 100%;
  position: absolute;
  left: 59%;
  top: -670%;
  background-color: inherit;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 25%;
}
.laptop-icon-cart {
  margin:0;
  margin-left: 3rem;
  margin-bottom: 1rem;
}
.icon-cart .cart-line-3 {
  width: 30%;
  height: 7%;
  position: absolute;
  left: 33%;
  top: 45%;
  background-color: #000;
}

.icon-cart .cart-line-3:after {
  content: "";
  width: 124%;
  height: 100%;
  position: absolute;
  top: -150%;
  left: -5%;
  background-color: inherit;
}

.icon-cart .cart-wheel {
  width: 12%;
  height: 12%;
  background-color: #000;
  border-radius: 100%;
  position: absolute;
  left: 28%;
  bottom: 20%;
}

.icon-cart .cart-wheel:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: 100%;
  position: absolute;
  left: 200%;
  bottom: 0;
}

.ebay-intro {
  position: relative;
  float:none;
  clear:both;
}
.ebay-intro-h {
  margin: 0 auto;
  text-align: center;
  font-size: 25px;
  height: auto;
  width: 400px;
  font-weight: normal;
}
.ebay-intro-label {
  height: auto;
  width: 400px;
  margin-top: 3rem;
  text-align: center;
  color: #FF6347;
}
.ebay-intro-label em {
  font-weight: bold;
}
.know-more {
  float:right;
  top:150px;
  right:100px;
}
.know-more .icon-cart {
  height:48px;
  width:48px;
  top:150px;
  right:100px;
}
.know-more-h {
  cursor: pointer;
  top:115px;
  right:40px;
  color: #FFA500!important;
}
.know-more-h:hover {
  color: #a5adbd!important;
  text-decoration: none;
}

.top-right-cart .icon-cart {
  height:60px;
  width:60px;
  margin: 0;
}
